
.superior-foto{
	font-size:14px;
	.cuadro-foto{
		border:1px solid $gray;
		padding:0;
		h2{
			
			padding:15px;
			margin:0;
		}
		.thumbnail{margin:0;}
		.reset-thumbnail{
			display: block;
		    padding: 0;
		    margin-bottom:0px;
		    line-height: 1.428571429;
		    background-color: #fff;
		    border: none;
		    border-radius: 0;
		}
	}
	.banda-rrss{
		margin:15px 0;
		.no-padding-left{
			padding-left:0;
		}
		.icono-rrss{
			float: left;
			display: inline-flex;
			.circulo-azul,.circulo-celeste,.circulo-anaranjado{
				display: inline-block;
				margin: 0 0 0 5px;
				background-color:#3B5998;
				border-radius:50%;
				width: 30px;
				height: 30px;
				padding:2px 11px;
				@include breakpoint(small){
					margin: 0 0 0 12px;
				}
				@include breakpoint(medium){
					margin: 0 0 0 5px;
				}
				@include breakpoint(large){
					margin: 0 0 0 12px;
				}

				i{
					color: white;
					font-size: 18px;
				}
			}
			.circulo-celeste{
	
				background-color:#55ACEE;
				padding:2px 7px;
			}
			.circulo-anaranjado{
				border-radius:50%;
				width: 30px;
				height: 30px;
				background-color:#DC4E41;
				padding:4px 7px;
			}
		}
		
		.texto-compartir{

			text-align: center;
			margin:8px 0 ;
			color:$blue;
			font-size: 14px;
			@include breakpoint(medium){
				font-size: 13px;
			}

		}
	}
	.primera-tabla{
		margin-bottom:3px;
		th,td{
			vertical-align: middle;
		}
		tr:first-of-type{
			color:white;
			background-color:$green;
		}
	}
	.nuevos-bg{
		tr:first-of-type{
			color:white;
			background-color:$light-blue;
		}
	}
	.table{
		i{
			font-size: 30px;
		}
	}
	.segunda-tabla{
		text-align:center;
		th{
			text-align: center;
			vertical-align: middle;
		}
	}
}
.btn-100{
	width:100%;
	margin-bottom:20px;
}
.cuadro-cotizacion{
	.btn[type="submit"]{
		box-shadow: 0 2px 6px 0 rgba(0,0,0,0.22), inset 0 -2px 0 0 rgba(0,0,0,0.20);
		border-radius: 6px;
		background-color:$green;
		border-color:transparent;
	}
	.fila-boton{
		text-align: right;
	}
}
.recomendacion,.recomendacion-usados{
	background-color:$light-blue;
	color:$blanco;
	padding:15px;
	margin-top:15px;
	margin-bottom:15px;
	text-align:center;
	min-height:270px;
	@include breakpoint(medium){
		min-height:320px;
	}
	a{
		color: white;
		margin-top:10px;
		margin-bottom: 15px;
		padding:5px 10px;
		border:1px solid white;
	}
	h3{
		text-align: left;
		padding-left:15px;
	}
	img{
		margin:0 auto;
		width: 100%;
	}
	.linea{
		border-right:1px solid white;
	}
}
#success_message{ display: none;}
.recomendacion-usados{
	background-color:$green;
}
.no-padding{
	padding:0!important;
}
.bg,
.overlay {
    text-align: center;
}
img,
.overlay {
    transition: .3s all;
}
.bg {
    float: left;
    position: relative;
    margin:0 0 30px 0;

    width: 100%;
    img {
        max-width: 100%;
        margin-bottom: -4px;
        border-radius: 3px;
    }
    .overlay {
        position: absolute;
        top: 0;
        left:0;
        bottom: 0;
        width: 100%;
        background: $bg;
        color: #fff;
        opacity: 0;
        .cuadro-gris{
        	padding:20px;
        	position:absolute;
        	top:35%;
        	left:35%;
        	text-align: center;
        	width: 30%;
        	border-radius:6px;
        	background-color:rgba(255, 255, 255, 0.2);
        	font-size: 1.5em;
    	}
        h2 {
        	text-align: center;
	        margin-top: 20%;
	        cursor:pointer;
	        z-index: 2;
	        position:absolute;
	        top:30px;
	        font-family: 'Roboto', sans-serif;
            & span {
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
            }
        }
    }
    &:hover {
        .overlay {
            opacity: 1;
            cursor:pointer;
            .cuadro-gris{
            	
            }
        }
        img {
            -webkit-filter:blur(2px);
            filter: blur(2px);
            border: 1px solid $gray;
        }
    }
}