.footer-nav{
	background-color:#033E76;
	color:white;
	a{
		color:white;
	}
	ul{
		list-style: none;
		padding:0px;
		li{
			padding:0px;
			font-size: 12px;
		}
	}

	.caja-footer{
	}
	padding:40px 0;
}
.footer-down{
	background-color:#2985CB;
	color:white;
	text-align:center;
	padding:40px 10px;
}