doctype html
html.no-js(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    //- Place favicon.ico in the root directory

    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', href='css/pushy.css')
    link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')

    script(src='js/modernizr.js')
  body
      //- Pushy Menu
      nav.pushy.pushy-right(data-focus='#first-link')
        .pushy-content
          ul
            li.pushy-link
              a(href='index.html')
                span.icolink-1 
                |Inicio
            li.pushy-link
              a(href='contacto.html') 
                span.icolink-2 
                |Sucursales
            li.pushy-link
              a(href='eventos-noticias.html') 
                span.icolink-3 
                |Eventos y noticias
            li.pushy-link
              a(href='quienes.html')
                span.icolink-4  
                |Quienes somos
            li.pushy-link
              a(href='contacto.html')
                span.icolink-5 
                |Contáctenos
          form.formMovil
            input.searchMovil(type="search", placeholder="buscar en el sitio")
            button.buscarMovil
              i.ion-ios-search-strong
      //- Site Overlay
      .site-overlay
      #container
        .container
          .row
            header.col-sm-12
              a.logo(href="index.html")
                img.img-responsive(src="img/logo.png", alt="")
              button.menu-btn 
                i.ion-navicon
              form.buscadorDesktop
                input.desk(type="search", placeholder="Buscar en el sitio")
                button.desk-search
                  i.ion-ios-search-strong
                .btnContact
                  a(href="contacto.html#ubicacion") 
                    img(src="img/btnContact.png", alt="")
        .container
          .row
            .busqTitulo.motos-bg
              //- span.iconSection
              //-   img.img-responsive(src="img/icon-usado.jpg", alt="") 
              //- p Motos
              .back
                a.back_link(href="javascript:history.back(1)")
                  i.ion-chevron-left
              .titImagetop
                .titImagetopImg
                  img.img-responsive.motoIcon(src="img/ico-moto.png", alt="")
                  h1 Motos 
              a.buttonColapse(href="#")
                i.ion-chevron-down.arrow-down
                i.ion-chevron-up.arrow-up
              .clearfix
            .navColapseNuevos
              ul
                li
                  a.nuevos(href="buscador-autos-nuevos.html") Autos nuevos
                li
                  a.usados(href="buscador-usados.html") Autos usados
                //- li
                //-   a.motos(href="") Motos
                li
                  a.camiones(href="buscador-camiones.html") Camiones
                li
                  a.servicios(href="servicios.html") Servicios
          .row
            .col-xs-1
            .col-xs-10.colorBuscador
              form.buscador-motos
                .row
                  .col-md-1
                  .col-md-3
                    select
                      option Marca
                  .col-md-4
                    select
                      option Tipo
                      input.input-oculto-moto.inputOculto(type="text", placeholder="buscar modelo")
                  .col-md-3
                    select
                      option Modelo
                  .col-md-1
                button.formBusqueda.formBusqueda-motos Buscar
            .col-xs-1

          .row
            .col-xs-1
            .col-xs-10
              .categoriasIcons-motos
                h3 Categorías
                ul
                  li
                    a(href="") 
                      span 
                        img(src="img/cat-moto-atv.png", alt="ATV")
                      |ATV
                  li
                    a(href="") 
                      span 
                        img(src="img/cat-moto-calle.png", alt="Calle")
                      |Calle
                  li
                    a(href="") 
                      span 
                        img(src="img/cat-moto-scooter.png", alt="Scooter")
                      |Scooter
                  li
                    a(href="") 
                      span 
                        img(src="img/cat-moto-custome.png", alt="Custome/Retro")
                      |Custome/Retro
                  li
                    a(href="") 
                      span 
                        img(src="img/cat-moto-deportiva.png", alt="Deportiva")
                      |Deportiva
                  li
                    a(href="") 
                      span 
                        img(src="img/cat-moto-multi.png", alt="Multipropósito")
                      |Multipropósito
                  li
                    a(href="") 
                      span 
                        img(src="img/cat-moto-enduro.png", alt="Enduro")
                      |Enduro
                  li
                    a(href="") 
                      span 
                        img(src="img/cat-moto-cross.png", alt="Motocross")
                      |Motocross
                  li
                    a(href="") 
                      span 
                        img(src="img/cat-moto-infantil.png", alt="Infantil")
                      |Infantil
            .col-xs-1
          .row
            .col-xs-1
            .col-xs-10
              .marcascategorias
                h3 Marcas
                ul
                  li
                    a(href="")
                      img(src="img/kimco.jpg", alt="kimco")
                  li
                    a(href="")
                      img(src="img/suzuki.jpg", alt="suzuki")
                  li
                    a(href="")
                      img(src="img/sym.jpg", alt="sym")
                  li
                    a(href="")
                      img(src="img/zongshen.jpg", alt="zongshen")
            .col-xs-1
        
        section.mainColor#selector.hidden-xs.visible-md.visible-lg
          .container 
            .row
              .btnsTransform
                h1 Encuentra la alternativa que buscas en:
                .col-md-1
                .col-xs-6.plNo.col-sm-4.col-md-2
                  a.btnsTransform__circle(href="buscador-autos-nuevos.html")
                    .circle-text-1
                      div
                        img.img-responsive(src="img/ico-ini-nuevos.png", alt="Autos Nuevos")
                        p Autos Nuevos
                .col-xs-6.plNo.col-sm-4.col-md-2
                  a.btnsTransform__circle(href="buscador-usados.html")
                    .circle-text-2
                      div
                        img.img-responsive(src="img/ico-ini-usados.png", alt="Autos Usados")
                        p Autos Usados
                .col-xs-6.plNo.col-sm-4.col-md-2
                  a.btnsTransform__circle(href="buscador-motos.html")
                    .circle-text-3
                      div
                        img.img-responsive(src="img/ico-ini-motos.png", alt="Motos")
                        p Motos
                .col-xs-6.col-sm-offset-2.col-sm-4.col-md-2.col-md-offset-0
                  a.btnsTransform__circle(href="buscador-camiones.html")
                    .circle-text-4
                      div
                        img.img-responsive(src="img/ico-ini-camiones.png", alt="Camiones")
                        p Camiones
                .col-xs-6.col-xs-offset-3.col-sm-offset-0.col-sm-4.col-md-2.col-md-offset-0
                  a.btnsTransform__circle(href="servicios.html")
                    .circle-text-5
                      div
                        img.img-responsive(src="img/servicios.png", alt="Servicios")
                        p Servicios
              .fixclear


        .container
          .row
            a.backjsO(href="javascript:history.back(1)") volver


        .container-fluid.footer-nav
          .container.no-padding
            nav
              .col-md-2.col-sm-6.caja-footer.no-padding
                h4 General
                ul
                  li.footer-link
                    a(href='index.html') Inicio
                  li.footer-link
                    a(href='contacto.html') Sucursales
                  li.footer-link
                    a(href='eventos-noticias.html') Eventos y noticias
                  li.footer-link
                    a(href='quienes.html') Quiénes somos
                  li.footer-link
                    a(href='contacto.html') Contáctenos
              .col-md-2.col-sm-6.caja-footer
                h4 Horarios
                ul
                  li.footer-link
                    a(href='#') Santiago:  <br>Lunes a domingo  de<br> 10.00 a 20.00 hrs.
                  
              .col-md-2.col-sm-6.caja-footer
                h4 Dirección
                ul
                  li.footer-link
                    a(href='https://goo.gl/maps/PRpxWXcnqZ72', target="_blank") Santiago:<br> Departamental #4500,<br> Macul.
              .col-md-3.col-sm-6.caja-footer
                h4 Contáctanos
                ul
                  li.footer-link
                    a(href='tel:227012407') Teléfono: (2) 2701 2407
                  li.footer-link
                    a(href='mailto:contacto@autoshopping.cl') contacto@autoshopping.cl
              .col-md-3.col-xs-12
                ul 
                  li.footer-link
                    .input-group
                      input(type="text" placeholder="Suscríbete").form-control
                      span.input-group-btn
                        button(type="button").btn.btn-default.btn-enviar-footer Enviar
                  li.footer-link
                    a(href='https://www.facebook.com/Autoshoppingchile/', target="_blank") Encuentranos
                  li.footer-link
                    a(href='https://www.facebook.com/Autoshoppingchile/', target="_blank") 
                      i.ion-social-facebook
              
        .container-fluid.footer-down
          p.disclaimer
            | El uso de este sitio web implica la aceptación de los Términos y Condiciones y de las Políticas de Privacidad de Autoshopping.cl


      script(src='js/jquery.min.js')
      script(src='js/bootstrap.min.js')
      script(src='js/owl.carousel.min.js')
      script(src='js/main.js')
      script(src='js/flowtype.js')
      script(src='js/pushy.min.js')

