doctype html
html.no-js(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    //- Place favicon.ico in the root directory

    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', href='css/pushy.css')
    link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')

    script(src='js/modernizr.js')
  body
      //- Pushy Menu
      nav.pushy.pushy-right(data-focus='#first-link')
        .pushy-content
          ul
            li.pushy-link
              a(href='index.html')
                span.icolink-1 
                |Inicio
            li.pushy-link
              a(href='contacto.html') 
                span.icolink-2 
                |Sucursales
            li.pushy-link
              a(href='eventos-noticias.html') 
                span.icolink-3 
                |Eventos y noticias
            li.pushy-link
              a(href='quienes.html')
                span.icolink-4  
                |Quienes somos
            li.pushy-link
              a(href='contacto.html')
                span.icolink-5 
                |Contáctenos
          form.formMovil
            input.searchMovil(type="search", placeholder="buscar en el sitio")
            button.buscarMovil
              i.ion-ios-search-strong
      //- Site Overlay
      .site-overlay
      #container
        .container
          .row
            header.col-sm-12
              a.logo(href="index.html")
                img.img-responsive(src="img/logo.png", alt="")
              button.menu-btn 
                i.ion-navicon
              form.buscadorDesktop
                input.desk(type="search", placeholder="Buscar en el sitio")
                button.desk-search
                  i.ion-ios-search-strong
                .btnContact
                  a(href="contacto.html") 
                    img(src="img/btnContact.png", alt="")
        .container
          .row.hidden-md.hidden-lg
            .busqTitulo.azulnormal
              span.iconSection
                img.img-responsive(src="img/icon-cotizacion.png", alt="") 
              p Eventos y Noticias
              a.buttonColapse(href="#")
                i.ion-chevron-down.arrow-down
                i.ion-chevron-up.arrow-up
              .clearfix
            .navColapseNuevos
              ul
                li
                  a.nuevos(href="buscador-autos-nuevos.html") Autos nuevos
                li
                  a.usados(href="buscador-usados.html") Autos usados
                li
                  a.motos(href="buscador-motos.html") Motos
                li
                  a.camiones(href="buscador-camiones.html") Camiones
                li
                  a.servicios(href="servicios.html") Servicios

          .row
            .col-xs-12
              section.noticias
                .row
                  .col-md-1.hidden-xs.hidden-sm
                  .col-xs-12.col-md-10
                    .tituloNoticias
                      h2 Eventos
                      span.line
                  .col-md-1.hidden-xs.hidden-sm
                .row
                  .col-md-1.hidden-xs.hidden-sm
                  .col-xs-12.col-md-10
                    .row
                      .col-xs-12.col-sm-3.col-md-4
                        .item-eventos
                          a(href="")
                            img.img-responsive.fullancho(src="img/noti-1.png", alt="")
                            p How Not To Greet The Dalai
                      .col-xs-12.col-sm-3.col-md-4
                        .item-eventos
                          a(href="#")
                            img.img-responsive.fullancho(src="img/noti-1.png", alt="")
                            p How Not To Greet The Dalai
                      .col-xs-12.col-sm-3.col-md-4
                        .item-eventos
                          a(href="#")
                            img.img-responsive.fullancho(src="img/noti-1.png", alt="")
                            p How Not To Greet The Dalai
                      .col-xs-12.col-sm-3.col-md-4
                        .item-eventos
                          a(href="#")
                            img.img-responsive.fullancho(src="img/noti-1.png", alt="")
                            p How Not To Greet The Dalai

              section.noticias
                .row
                  .col-md-1.hidden-xs.hidden-sm
                  .col-xs-12.col-md-10
                    .tituloNoticias
                      h2 Noticias
                      span.line
                  .col-md-1.hidden-xs.hidden-sm
                .row
                  .col-md-1.hidden-xs.hidden-sm
                  .col-xs-12.col-sm-12.col-md-10
                    .row
                      .col-xs-12.col-sm-100
                        a.itemNoticias(href="#")
                          img.img-responsive(src="img/noticiafull.png", alt="") 
                          h1.linktitulo Nulla vitae elit libero, a pharetra augue.
                          p.linkparrafo Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit.
                  .col-md-1.hidden-xs.hidden-sm

              section.noticias
                .row
                  .col-md-1.hidden-xs.hidden-sm
                  .col-xs-12.col-md-10
                    .tituloNoticias
                      .barline
                        span.line
                  .col-md-1.hidden-xs.hidden-sm
                .row
                  .col-md-1.hidden-xs.hidden-sm
                  .col-xs-12.col-md-10
                    .row
                      .col-xs-12.col-sm-4.col-md-4
                        .item-eventos
                          a(href="#")
                            img.img-responsive.fullancho(src="img/noti-1.png", alt="")
                            span 
                              .infoWrap
                                .titNoticia How Not To Greet The Dalai  
                                .titNoticia__bajada Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      .col-xs-12.col-sm-4.col-md-4
                        .item-eventos
                          a(href="#")
                            img.img-responsive.fullancho(src="img/noti-1.png", alt="")
                            span 
                              .infoWrap
                                .titNoticia How Not To Greet The Dalai  
                                .titNoticia__bajada Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      .col-xs-12.col-sm-4.col-md-4
                        .item-eventos
                          a(href="#")
                            img.img-responsive.fullancho(src="img/noti-1.png", alt="")
                            span 
                              .infoWrap
                                .titNoticia How Not To Greet The Dalai  
                                .titNoticia__bajada Lorem ipsum dolor sit amet, consectetur adipisicing elit.

        section.cajas-info
          .container
            .row
              .col-md-1
              .col-md-10
                  .row
                    .col-md-4
                      .caja-info__contacto
                        .caja-info__icoInfo
                          img.responsive(src="img/mail-1.png", alt="") 
                        h3 Contacto
                        p 
                          a(href="contacto.html")|Estamos atentos de resolver cualquier duda o consulta que tenga sobre autos.
                    .col-md-4
                      .caja-info__promos
                        .caja-info__icoInfo
                          img.responsive(src="img/promociones-1.png", alt="")
                        h3 Promociones
                        p 
                          a(href="promociones.html")|Sorpréndete y conoce las mejores promociones de autos o servicios.
                    .col-md-4
                      .caja-info__pistas
                        .caja-info__icoInfo
                          img.responsive(src="img/pista.png", alt="")
                        h3 Pista de prueba
                        p 
                          a(href="pista.html")|Estamos atentos de resolver cualquier duda o consulta qu etenga sobre autos.
              .col-md-1

        .container-fluid.footer-nav
          .container.no-padding
            nav
              .col-md-2.col-sm-6.caja-footer.no-padding
                h4 General
                ul
                  li.footer-link
                    a(href='index.html') Inicio
                  li.footer-link
                    a(href='contacto.html') Sucursales
                  li.footer-link
                    a(href='eventos-noticias.html') Eventos y noticias
                  li.footer-link
                    a(href='quienes.html') Quiénes somos
                  li.footer-link
                    a(href='contacto.html') Contáctenos
              .col-md-2.col-sm-6.caja-footer
                h4 Horarios
                ul
                  li.footer-link
                    a(href='#') Santiago:  <br>Lunes a domingo  de<br> 10.00 a 20.00 hrs.
                  
              .col-md-2.col-sm-6.caja-footer
                h4 Dirección
                ul
                  li.footer-link
                    a(href='https://goo.gl/maps/PRpxWXcnqZ72', target="_blank") Santiago:<br> Departamental #4500,<br> Macul.
              .col-md-3.col-sm-6.caja-footer
                h4 Contáctanos
                ul
                  li.footer-link
                    a(href='tel:227012407') Teléfono: (2) 2701 2407
                  li.footer-link
                    a(href='mailto:contacto@autoshopping.cl') contacto@autoshopping.cl
              .col-md-3.col-xs-12
                ul 
                  li.footer-link
                    .input-group
                      input(type="text" placeholder="Suscríbete").form-control
                      span.input-group-btn
                        button(type="button").btn.btn-default.btn-enviar-footer Enviar
                  li.footer-link
                    a(href='https://www.facebook.com/Autoshoppingchile/', target="_blank") Encuentranos
                  li.footer-link
                    a(href='https://www.facebook.com/Autoshoppingchile/', target="_blank") 
                      i.ion-social-facebook
              
        .container-fluid.footer-down
          p.disclaimer
            | El uso de este sitio web implica la aceptación de los Términos y Condiciones y de las Políticas de Privacidad de Autoshopping.cl


      script(src='js/jquery.min.js')
      script(src='js/bootstrap.min.js')
      script(src='js/owl.carousel.min.js')
      script(src='js/main.js')
      script(src='js/flowtype.js')
      script(src='js/pushy.min.js')
      script(src='js/jquery.responsiveTabs.min.js')

