doctype html
html.no-js(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    //- Place favicon.ico in the root directory

    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', href='css/pushy.css')
    link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')

    script(src='js/modernizr.js')
  body
      //- Pushy Menu
      nav.pushy.pushy-right(data-focus='#first-link')
        .pushy-content
          ul
            li.pushy-link
              a(href='#')
                span.icolink-1 
                |Inicio
            li.pushy-link
              a(href='#') 
                span.icolink-2 
                |Sucursales
            li.pushy-link
              a(href='#') 
                span.icolink-3 
                |Eventos y noticias
            li.pushy-link
              a(href='#')
                span.icolink-4  
                |Quienes somos
            li.pushy-link
              a(href='#')
                span.icolink-5 
                |Contáctenos
          form.formMovil
            input.searchMovil(type="search", placeholder="buscar en el sitio")
            button.buscarMovil
              i.ion-ios-search-strong
      //- Site Overlay
      .site-overlay
      #container
        .container
          .row
            header.col-sm-12
              a.logo(href="index.html")
                img.img-responsive(src="img/logo.png", alt="")
              button.menu-btn 
                i.ion-navicon
              form.buscadorDesktop
                input.desk(type="search", placeholder="Buscar en el sitio")
                button.desk-search
                  i.ion-ios-search-strong
                .btnContact
                  a(href="#") 
                    img(src="img/btnContact.png", alt="")
        .container
          .row.hidden-md.hidden-lg
            .busqTitulo.azulnormal
              span.iconSection
                img.img-responsive(src="img/icon-cotizacion.png", alt="") 
              p Eventos y Noticias
              a.buttonColapse(href="#")
                i.ion-chevron-down.arrow-down
                i.ion-chevron-up.arrow-up
              .clearfix
            .navColapseNuevos
              ul
                li
                  a.nuevos(href="") Autos nuevos
                li
                  a.usados(href="") Autos usados
                li
                  a.motos(href="") Motos
                li
                  a.camiones(href="") Camiones
                li
                  a.servicios(href="") Servicios

          .row
            .col-xs-12
              section.noticias
                .row
                  .col-md-1.hidden-xs.hidden-sm
                  .col-xs-12.col-md-10
                    .tituloNoticias
                      h2 Eventos
                      span.line
                  .col-md-1.hidden-xs.hidden-sm
                .row
                  .col-md-1.hidden-xs.hidden-sm
                  .col-xs-12.col-md-10
                    .row
                      .col-xs-12.col-sm-6
                        .img-destacada
                            img.img-responsive.fullancho(src="img/filaautos.jpg", alt="")
                      .col-xs-12.col-sm-6
                        .box-noticia
                          ul.fecha-autor
                            li.fecha
                              a(href="#") 22 Enero 2017 
                            li.autor
                              a(href="#") Martín Ulloa
                          h1 <span>Record de ventas</span> en Autoshopping
                          p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humor are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humorare many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humor
                          p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humor are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humorare many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humor...
                    //- .row
                    //-   .col-xs-12
                    //-     .socials
                    //-       p Compartir
                    //-         i.ion-arrow-right-b
                    //-       ul
                    //-         li
                    //-           a.cirfb(href="#")
                    //-             i.ion-social-facebook
                    //-         li
                    //-           a.cirtw(href="#")
                    //-             i.ion-social-twitter
                    //-         li
                    //-           a.cirg(href="#")
                    .resultados
                      .row.banda-rrss
                          .col-xs-4.col-sm-7.col-md-8.col-lg-9.no-padding-left
                            hr.hr-int
                          .col-xs-3.col-sm-2.col-md-2.col-lg-1.no-padding
                            p.texto-compartir Compartir 
                              i.ion-arrow-right-b
                          .col-xs-5.col-sm-1.col-md-2.col-lg-2.icono-rrss
                            a(href='#')
                              .circulo-azul  
                                i.ion-social-facebook
                            a(href='#')
                              .circulo-celeste  
                                i.ion-social-twitter
                            a(href='#')
                              .circulo-anaranjado
                                img(src="img/g+.png")

                          






        section.cajas-info.mt20
          .container
            .row
              .col-md-1
              .col-md-10
                  .row
                    .col-md-4
                      .caja-info__contacto(href="#")
                        .caja-info__icoInfo
                          img.responsive(src="img/ico-6.jpg", alt="") 
                        h3 Contacto
                        p 
                          a(href="#")|Estamos atentos de resolver cualquier duda o consulta que tenga sobre autos.
                    .col-md-4
                      .caja-info__promos(href="#")
                        .caja-info__icoInfo
                          img.responsive(src="img/ico-7.jpg", alt="")
                        h3 Promociones
                        p 
                          a(href="#")|Sorpréndete y conoce las mejores promociones de autos o servicios.
                    .col-md-4
                      .caja-info__pistas(href="#")
                        .caja-info__icoInfo
                          img.responsive(src="img/ico-8.jpg", alt="")
                        h3 Contacto
                        p 
                          a(href="#")|Estamos atentos de resolver cualquier duda o consulta qu etenga sobre autos.
              .col-md-1

        .container.container-fluid.footer-nav
          nav
              .col-md-1
              .col-md-2.col-sm-3.caja-footer
                h4 General
                ul
                  li.footer-link
                    a(href='#') Inicio
                  li.footer-link
                    a(href='#') Sucursales
                  li.footer-link
                    a(href='#') Eventos y noticias
                  li.footer-link
                    a(href='#') Quienes somos
                  li.footer-link
                    a(href='#') Contáctenos
              .col-md-2.col-sm-3.caja-footer
                h4 Horarios
                ul
                  li.footer-link
                    a(href='#') Santiago:  <br>Lunes a domingo  de<br> 10.00 a 20.00 hrs.
                  
              .col-md-2.col-sm-3.caja-footer
                h4 Dirección
                ul
                  li.footer-link
                    a(href='#') Santiago:<br> Departamental #4500,<br> Macul.
              .col-md-2.col-sm-6.caja-footer
                h4 Contáctanos
                ul
                  li.footer-link
                    a(href='#') Teléfono: (2) 2701 2407
                  li.footer-link
                    a(href='#') contacto@autoshopping.cl
              .col-md-2.col-sm-6.caja-footer
                ul 
                  li.footer-link
                    .input-group
                      input(type="text" placeholder="Suscríbete").form-control
                      span.input-group-btn
                        button(type="button").btn.btn-default Enviar
                  li.footer-link
                    a(href='#') Encuentranos
                  li.footer-link
                    a(href='#') 
                      i.ion-social-facebook
              .col-md-1
        .container.container-fluid.footer-down
          p.disclaimer
            | El uso de este sitio web implica la aceptación de los Términos y Condiciones y de las Políticas de Privacidad de Autoshopping.cl


      script(src='js/jquery.min.js')
      script(src='js/bootstrap.min.js')
      script(src='js/owl.carousel.min.js')
      script(src='js/main.js')
      script(src='js/flowtype.js')
      script(src='js/pushy.min.js')
      script(src='js/jquery.responsiveTabs.min.js')

