doctype html
html.no-js(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    //- Place favicon.ico in the root directory

    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', href='css/pushy.css')
    link(rel='stylesheet', href='css/owl.carousel.min.css')
    link(rel='stylesheet', href='css/owl.theme.default.min.css')
    link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')

    script(src='js/modernizr.js')
  body
      .container-fluid.footer-nav
        nav
            .col-md-1
            .col-md-2.col-sm-3.caja-footer
              h4 General
              ul
                li.footer-link
                  a(href='#') Inicio
                li.footer-link
                  a(href='#') Sucursales
                li.footer-link
                  a(href='#') Eventos y noticias
                li.footer-link
                  a(href='#') Quienes somos
                li.footer-link
                  a(href='#') Contáctenos
            .col-md-2.caja-footer
              h4 Horarios
              ul
                li.footer-link
                  a(href='#') Santiago:  <br>Lunes a domingo  de<br> 10.00 a 20.00 hrs.
                
            .col-md-2.caja-footer
              h4 Dirección
              ul
                li.footer-link
                  a(href='#') Santiago:<br> Departamental #4500,<br> Macul.
            .col-md-2.caja-footer
              h4 Contáctanos
              ul
                li.footer-link
                  a(href='#') Teléfono: (2) 2701 2407
                li.footer-link
                  a(href='#') contacto@autoshopping.cl
            .col-md-2.col-xs-8
              ul 
                li.footer-link
                  .input-group
                    input(type="text" placeholder="Suscríbete").form-control
                    span.input-group-btn
                      button(type="button").btn.btn-default.btn-enviar-footer Enviar
                li.footer-link
                  a(href='#') Encuentranos
                li.footer-link
                  a(href='#') 
                    i.ion-social-facebook
            .col-md-1
      .container-fluid.footer-down
        p.disclaimer
          | El uso de este sitio web implica la aceptación de los Términos y Condiciones y de las Políticas de Privacidad de Autoshopping.cl

      script(src='js/jquery.min.js')
      script(src='js/bootstrap.min.js')
      script(src='js/owl.carousel.min.js')
      script(src='js/main.js')
      script(src='js/flowtype.js')
      script(src='js/pushy.min.js')
