doctype html
html.no-js(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    //- Place favicon.ico in the root directory

    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', href='css/pushy.css')
    link(rel='stylesheet', href='css/owl.carousel.min.css')
    link(rel='stylesheet', href='css/owl.theme.default.min.css')
    link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')

    script(src='js/modernizr.js')
  body
      //- Pushy Menu
      nav.pushy.pushy-right(data-focus='#first-link')
        .pushy-content
          ul
            li.pushy-link
              a(href='index.html')
                span.icolink-1 
                |Inicio
            li.pushy-link
              a(href='contacto.html') 
                span.icolink-2 
                |Sucursales
            li.pushy-link
              a(href='eventos-noticias.html') 
                span.icolink-3 
                |Eventos y noticias
            li.pushy-link
              a(href='quienes.html')
                span.icolink-4  
                |Quienes somos
            li.pushy-link
              a(href='contacto.html')
                span.icolink-5 
                |Contáctenos
          form.formMovil
            input.searchMovil(type="search", placeholder="buscar en el sitio")
            button.buscarMovil
              i.ion-ios-search-strong
      //- Site Overlay
      .site-overlay
      #container
        .container
          .row
            header.col-sm-12
              a.logo(href="index.html") 
                img.img-responsive(src="img/logo.png", alt="")
              button.menu-btn 
                i.ion-navicon
              form.buscadorDesktop
                input.desk(type="search", placeholder="Buscar en el sitio")
                button.desk-search
                  i.ion-ios-search-strong
                .btnContact
                  a(href="contacto.html#ubicacion") 
                    img(src="img/btnContact.png", alt="")

          .row
            .owl-carousel.owl-theme
              .div 
                a(href="#")
                  img.img-responsive(src="img/banner.jpg", alt="primer slide")

              .div
                a(href="#") 
                  img.img-responsive(src="img/banner.jpg", alt="")

              .div
                a(href="#") 
                  img.img-responsive(src="img/banner.jpg", alt="")
        section.mainColor#selector
          .container 
            .row
              .btnsTransform
                h1 Encuentra la alternativa que buscas en:
                .col-md-1
                .col-xs-6.plNo.col-sm-4.col-md-2
                  a.btnsTransform__circle(href="buscador-autos-nuevos.html")
                    .circle-text-1
                      div
                        img.img-responsive(src="img/ico-ini-nuevos.png", alt="Autos Nuevos")
                        p Autos Nuevos
                .col-xs-6.plNo.col-sm-4.col-md-2
                  a.btnsTransform__circle(href="buscador-usados.html")
                    .circle-text-2
                      div
                        img.img-responsive(src="img/ico-ini-usados.png", alt="Autos Usados")
                        p Autos Usados
                .col-xs-6.plNo.col-sm-4.col-md-2
                  a.btnsTransform__circle(href="buscador-motos.html")
                    .circle-text-3
                      div
                        img.img-responsive(src="img/ico-ini-motos.png", alt="Motos")
                        p Motos
                .col-xs-6.col-sm-offset-2.col-sm-4.col-md-2.col-md-offset-0
                  a.btnsTransform__circle(href="buscador-camiones.html")
                    .circle-text-4
                      div
                        img.img-responsive(src="img/ico-ini-camiones.png", alt="Camiones")
                        p Camiones
                .col-xs-6.col-xs-offset-3.col-sm-offset-0.col-sm-4.col-md-2.col-md-offset-0
                  a.btnsTransform__circle(href="servicios.html")
                    .circle-text-5
                      div
                        img.img-responsive(src="img/servicios.png", alt="Servicios")
                        p Servicios
              .fixclear
                    //- .icoSelector
                    //-   img.img-responsive(src="img/ico-ini-nuevos.png", alt="Autos Nuevos")
                    //-   p Autos Nuevos
                //- .col-xs-12.col-sm-4.col-md-2
                //-   a.btnsTransform__circle(href="buscador-usados.html")
                //-     .icoSelector()
                //-       img.img-responsive(src="img/ico-ini-usados.png", alt="Autos Nuevos")
                //-       p Autos Usados
                //- .col-xs-12.plNo.col-sm-4.col-md-2
                //-   a.btnsTransform__circle(href="buscador-motos.html")
                //-     .icoSelector()
                //-       img.img-responsive(src="img/ico-ini-motos.png", alt="Motos")
                //-       p Motos
                //- .col-xs-12.col-sm-6.col-md-2
                //-   a.btnsTransform__circle(href="buscador-camiones.html")
                //-     .icoSelector()
                //-       img.img-responsive(src="img/ico-ini-camiones.png", alt="Camiones")
                //-       p Camiones
                //- .col-xs-12.col-sm-6.col-md-2
                //-   a.btnsTransform__circle(href="servicios.html")
                //-     .icoSelector()
                //-       img.img-responsive(src="img/servicios.png", alt="servicios")
                //-       p Servicios



                .col-md-1
        section.marcas
          .container
            .row
              .col-md-1
              .col-sm-10
                .boxTitle
                  h2 Nuestras Marcas
                .owl-carousel.owl-theme
                  div
                    .marcas-ico
                      ul
                        li
                          img.img-responsive(src="img/baic.jpg", alt="")
                        li
                          img.img-responsive(src="img/brilliance.jpg", alt="")
                        li
                          img.img-responsive(src="img/geely.jpg", alt="")
                        li
                          img.img-responsive(src="img/greatwall.jpg", alt="")
                        li
                          img.img-responsive(src="img/hiunday.jpg", alt="")
                        li
                          img.img-responsive(src="img/jac.jpg", alt="")
                        li
                          img.img-responsive(src="img/mahindra.jpg", alt="")
                        li
                          img.img-responsive(src="img/mazda.jpg", alt="")

                  div
                    .marcas-ico
                      ul
                        li
                          img.img-responsive(src="img/renault.jpg", alt="")
                        li
                          img.img-responsive(src="img/suzuki.jpg", alt="")
                        li
                          img.img-responsive(src="img/suzuki.jpg", alt="")
              .col-md-1
        section.cajas-info
          .container
            .row
              .col-md-1
              .col-md-10
                  .row
                    .col-md-4
                      .caja-info__contacto
                        .caja-info__icoInfo
                          img.responsive(src="img/mail-1.png", alt="") 
                        h3 Contacto
                        p 
                          a(href="contacto.html")|Estamos atentos de resolver cualquier duda o consulta que tenga sobre autos.
                    .col-md-4
                      .caja-info__promos
                        .caja-info__icoInfo
                          img.responsive(src="img/promociones-1.png", alt="")
                        h3 Promociones
                        p 
                          a(href="promociones.html")|Sorpréndete y conoce las mejores promociones de autos o servicios.
                    .col-md-4
                      .caja-info__pistas
                        .caja-info__icoInfo
                          img.responsive(src="img/pista.png", alt="")
                        h3 Pista de prueba
                        p 
                          a(href="pista.html")|Estamos atentos de resolver cualquier duda o consulta qu etenga sobre autos.
              .col-md-1
        section.eventos
          .container
            .row
              .col-md-1
              .col-md-10
                h3 Eventos y noticias
                p Acá encontraras toda la información de eventos en Chile y noticias sobre el mercado de autos.
              .col-md-1
            .row
              .col-md-1
              .col-md-10
                .row
                  .col-md-9
                    .row.tab-content
                      #home.tab-pane.fade.active.in(role='tabpanel')
                        img.img-responsive(src="img/noti-1.jpg", alt="")
                        .tituloNoticia
                          h1 Vestibulum id ligula porta felis…
                          p Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo.
                          a.vermas(href="#") ver más 

                      #profile.tab-pane.fade(role='tabpanel')
                        img.img-responsive(src="img/noti-1.jpg", alt="")
                        .tituloNoticia
                          h1 Vestibulum id ligula porta felis…
                          p Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo.
                          a.vermas(href="#") ver más 
                      #messages.tab-pane.fade(role='tabpanel')
                        img.img-responsive(src="img/noti-1.jpg", alt="")
                        .tituloNoticia
                          h1 Vestibulum id ligula porta felis…
                          p Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo.
                          a.vermas(href="#") ver más 
                  .col-md-3.noPadding
                    ul.nav.nav-tabs.nav-stacked.text-center(role='tablist')
                      li.active(role='presentation')
                        a(href='#home', aria-controls='home', role='tab', data-toggle='tab')
                          img.img-responsive(src="img/noti-1.jpg", alt="")
                          .tituloh1 
                            h1 Vestibulum id ligula porta felis…
                      li(role='presentation')
                        a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab')
                          img.img-responsive(src="img/noti-1.jpg", alt="")
                          .tituloh1 
                            h1 Vestibulum id ligula porta felis…
                      li(role='presentation')
                        a(href='#messages', aria-controls='messages', role='tab', data-toggle='tab')
                          img.img-responsive(src="img/noti-1.jpg", alt="")
                          .tituloh1 
                            h1 Vestibulum id ligula porta felis…
              .col-md-1
        section.contacto
          .container
            .row
              .col-md-1
              .col-md-6
                h3 Contáctanos
                form.formulario
                  .inputswraper
                    input.inputswraper-top(type="text", placeholder="Nombre")
                    input(type="text", placeholder="Apellido")
                    input(type="text", placeholder="Teléfono")
                    input.inputswraper-bottom(type="text", placeholder="Email")
                  textarea(placeholder="Escriba su comentario...")
                  input(type="submit", value="Enviar")
              .col-md-4
                h3 Encuentranos en facebook
                .facebook
                  iframe(src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FAutoshoppingchile&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId', width='340', height='370', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')

              .col-md-1




        .container-fluid.footer-nav
          .container.no-padding
            nav
              .col-md-2.col-sm-6.caja-footer.no-padding
                h4 General
                ul
                  li.footer-link
                    a(href='index.html') Inicio
                  li.footer-link
                    a(href='contacto.html') Sucursales
                  li.footer-link
                    a(href='eventos-noticias.html') Eventos y noticias
                  li.footer-link
                    a(href='quienes.html') Quiénes somos
                  li.footer-link
                    a(href='contacto.html') Contáctenos
              .col-md-2.col-sm-6.caja-footer
                h4 Horarios
                ul
                  li.footer-link
                    a(href='#') Santiago:  <br>Lunes a domingo  de<br> 10.00 a 20.00 hrs.
                  
              .col-md-2.col-sm-6.caja-footer
                h4 Dirección
                ul
                  li.footer-link
                    a(href='https://goo.gl/maps/PRpxWXcnqZ72', target="_blank") Santiago:<br> Departamental #4500,<br> Macul.
              .col-md-3.col-sm-6.caja-footer
                h4 Contáctanos
                ul
                  li.footer-link
                    a(href='tel:227012407') Teléfono: (2) 2701 2407
                  li.footer-link
                    a(href='mailto:contacto@autoshopping.cl') contacto@autoshopping.cl
              .col-md-3.col-xs-12
                ul 
                  li.footer-link
                    .input-group
                      input(type="text" placeholder="Suscríbete").form-control
                      span.input-group-btn
                        button(type="button").btn.btn-default.btn-enviar-footer Enviar
                  li.footer-link
                    a(href='https://www.facebook.com/Autoshoppingchile/', target="_blank") Encuentranos
                  li.footer-link
                    a(href='https://www.facebook.com/Autoshoppingchile/', target="_blank") 
                      i.ion-social-facebook
              
        .container-fluid.footer-down
          p.disclaimer
            | El uso de este sitio web implica la aceptación de los Términos y Condiciones y de las Políticas de Privacidad de Autoshopping.cl


      script(src='js/jquery.min.js')
      script(src='js/bootstrap.min.js')
      script(src='js/owl.carousel.min.js')
      script(src='js/main.js')
      script(src='js/flowtype.js')
      script(src='js/pushy.min.js')

