doctype html
html.no-js(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    //- Place favicon.ico in the root directory

    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', href='css/pushy.css')
    link(rel='stylesheet', href='css/owl.carousel.min.css')
    link(rel='stylesheet', href='css/owl.theme.default.min.css')
    link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')

    script(src='js/modernizr.js')
  body
      //- Pushy Menu
      nav.pushy.pushy-right(data-focus='#first-link')
        .pushy-content
          ul
            li.pushy-link
              a(href='index.html')
                span.icolink-1 
                |Inicio
            li.pushy-link
              a(href='contacto.html') 
                span.icolink-2 
                |Sucursales
            li.pushy-link
              a(href='eventos-noticias.html') 
                span.icolink-3 
                |Eventos y noticias
            li.pushy-link
              a(href='quienes.html')
                span.icolink-4  
                |Quienes somos
            li.pushy-link
              a(href='contacto.html')
                span.icolink-5 
                |Contáctenos
          form.formMovil
            input.searchMovil(type="search", placeholder="buscar en el sitio")
            button.buscarMovil
              i.ion-ios-search-strong
      //- Site Overlay
      .site-overlay
      #container
        .container
          .row
            header.col-sm-12
              a.logo(href="index.html")
                img.img-responsive(src="img/logo.png", alt="")
              button.menu-btn 
                i.ion-navicon
              form.buscadorDesktop
                input.desk(type="search", placeholder="Buscar en el sitio")
                button.desk-search
                  i.ion-ios-search-strong
                .btnContact
                  a(href="contacto.html#ubicacion") 
                    img(src="img/btnContact.png", alt="")
        .container
          section.resultados
            h2 Resultados de la búsqueda 
              span(style="font-weight:bold") 50 resultados
            .row
              .col-sm-6.col-md-4
                .thumbnail.caja-resultado.camiones-border
                  img(src='img/img-resultado.jpg', alt='...')
                  .caption.col-xs-8
                    h3 Hyundai Tucson
                    p.precio-resultados $13.000.990
                    p año 2012
                  .col-xs-4
                    img.logo-concesionario(src="img/concesionario.png")
                  .row
                    .col-xs-12
                      p
                        a.btn.btn-primary.camiones-bg.camiones-border(href='cotizacion.html', role='button') Cotizar
                        a.btn.btn-default.camiones-bg.camiones-border(href='ficha-camiones.html', role='button') Ver Ficha
              .col-sm-6.col-md-4
                .thumbnail.caja-resultado.camiones-border
                  img(src='img/img-resultado.jpg', alt='...')
                  .caption.col-xs-8
                    h3 Hyundai Tucson
                    p.precio-resultados $13.000.990
                    p año 2012
                  .col-xs-4
                    img.logo-concesionario(src="img/concesionario.png")
                  .row
                    .col-xs-12
                      p
                        a.btn.btn-primary.camiones-bg.camiones-border(href='cotizacion.html', role='button') Cotizar
                        a.btn.btn-default.camiones-bg.camiones-border(href='ficha-camiones.html', role='button') Ver Ficha
              .col-sm-6.col-md-4
                .thumbnail.caja-resultado.camiones-border
                  img(src='img/img-resultado.jpg', alt='...')
                  .caption.col-xs-8
                    h3 Hyundai Tucson
                    p.precio-resultados $13.000.990
                    p año 2012
                  .col-xs-4
                    img.logo-concesionario(src="img/concesionario.png")
                  .row
                    .col-xs-12
                      p
                        a.btn.btn-primary.camiones-bg.camiones-border(href='cotizacion.html', role='button') Cotizar
                        a.btn.btn-default.camiones-bg.camiones-border(href='ficha-camiones.html', role='button') Ver Ficha
              .col-sm-6.col-md-4
                .thumbnail.caja-resultado.camiones-border
                  img(src='img/img-resultado.jpg', alt='...')
                  .caption.col-xs-8
                    h3 Hyundai Tucson
                    p.precio-resultados $13.000.990
                    p año 2012
                  .col-xs-4
                    img.logo-concesionario(src="img/concesionario.png")
                  .row
                    .col-xs-12
                      p
                        a.btn.btn-primary.camiones-bg.camiones-border(href='cotizacion.html', role='button') Cotizar
                        a.btn.btn-default.camiones-bg.camiones-border(href='ficha-camiones.html', role='button') Ver Ficha
              .col-sm-6.col-md-4
                .thumbnail.caja-resultado.camiones-border
                  img(src='img/img-resultado.jpg', alt='...')
                  .caption.col-xs-8
                    h3 Hyundai Tucson
                    p.precio-resultados $13.000.990
                    p año 2012
                  .col-xs-4
                    img.logo-concesionario(src="img/concesionario.png")
                  .row
                    .col-xs-12
                      p
                        a.btn.btn-primary.camiones-bg.camiones-border(href='cotizacion.html', role='button') Cotizar
                        a.btn.btn-default.camiones-bg.camiones-border(href='ficha-camiones.html', role='button') Ver Ficha
              .col-sm-6.col-md-4
                .thumbnail.caja-resultado.camiones-border
                  img(src='img/img-resultado.jpg', alt='...')
                  .caption.col-xs-8
                    h3 Hyundai Tucson
                    p.precio-resultados $13.000.990
                    p año 2012
                  .col-xs-4
                    img.logo-concesionario(src="img/concesionario.png")
                  .row
                    .col-xs-12
                      p
                        a.btn.btn-primary.camiones-bg.camiones-border(href='cotizacion.html', role='button') Cotizar
                        a.btn.btn-default.camiones-bg.camiones-border(href='ficha-camiones.html', role='button') Ver Ficha
          .container
            .row
              .col-sm-1

              
              .col-xs-12.col-sm-10
                nav.page-navigation(aria-label='Page navigation')
                  ul.pagination
                    li
                      a.page-navigation-btn.btn(href='#', aria-label='Previous')
                        span(aria-hidden='true') ATRÁS
                    li.nop
                      a(class="active" href='#') 1
                    li.nop
                      a(href='#') 2
                    li.nop
                      a(href='#') 3
                    li.nop
                      a(href='#') 4
                    li.nop
                      a(href='#') 5
                    li.nop
                      a(href='#') 6
                    li.nop
                      a(href='#') 7
                    li.nop
                      a(href='#') 8
                    li.nop
                      a(href='#') 9
                    li.nop
                      a(href='#') 10
                    li
                      a.page-navigation-btn.btn(href='#', aria-label='Next')
                        span(aria-hidden='true') SIGUIENTE
              .col-sm-1
        section.mainColor#selector.hidden-xs.hidden-sm
          .container 
            .row
              .btnsTransform
                h1 Encuentra la alternativa que buscas en:
                .col-md-1
                .col-xs-6.plNo.col-sm-4.col-md-2
                  a.btnsTransform__circle(href="buscador-autos-nuevos.html")
                    .circle-text-1
                      div
                        img.img-responsive(src="img/ico-ini-nuevos.png", alt="Autos Nuevos")
                        p Autos Nuevos
                .col-xs-6.plNo.col-sm-4.col-md-2
                  a.btnsTransform__circle(href="buscador-usados.html")
                    .circle-text-2
                      div
                        img.img-responsive(src="img/ico-ini-usados.png", alt="Autos Usados")
                        p Autos Usados
                .col-xs-6.plNo.col-sm-4.col-md-2
                  a.btnsTransform__circle(href="buscador-motos.html")
                    .circle-text-3
                      div
                        img.img-responsive(src="img/ico-ini-motos.png", alt="Motos")
                        p Motos
                .col-xs-6.col-sm-offset-2.col-sm-4.col-md-2.col-md-offset-0
                  a.btnsTransform__circle(href="buscador-camiones.html")
                    .circle-text-4
                      div
                        img.img-responsive(src="img/ico-ini-camiones.png", alt="Camiones")
                        p Camiones
                .col-xs-6.col-xs-offset-3.col-sm-offset-0.col-sm-4.col-md-2.col-md-offset-0
                  a.btnsTransform__circle(href="servicios.html")
                    .circle-text-5
                      div
                        img.img-responsive(src="img/servicios.png", alt="Servicios")
                        p Servicios
              .fixclear
                .col-md-1
        .container
          .row
            a.backjsO(href="javascript:history.back(1)") volver
        .container-fluid.footer-nav
          .container.no-padding
            nav
              .col-md-2.col-sm-6.caja-footer.no-padding
                h4 General
                ul
                  li.footer-link
                    a(href='index.html') Inicio
                  li.footer-link
                    a(href='contacto.html') Sucursales
                  li.footer-link
                    a(href='eventos-noticias.html') Eventos y noticias
                  li.footer-link
                    a(href='quienes.html') Quiénes somos
                  li.footer-link
                    a(href='contacto.html') Contáctenos
              .col-md-2.col-sm-6.caja-footer
                h4 Horarios
                ul
                  li.footer-link
                    a(href='#') Santiago:  <br>Lunes a domingo  de<br> 10.00 a 20.00 hrs.
                  
              .col-md-2.col-sm-6.caja-footer
                h4 Dirección
                ul
                  li.footer-link
                    a(href='https://goo.gl/maps/PRpxWXcnqZ72', target="_blank") Santiago:<br> Departamental #4500,<br> Macul.
              .col-md-3.col-sm-6.caja-footer
                h4 Contáctanos
                ul
                  li.footer-link
                    a(href='tel:227012407') Teléfono: (2) 2701 2407
                  li.footer-link
                    a(href='mailto:contacto@autoshopping.cl') contacto@autoshopping.cl
              .col-md-3.col-xs-12
                ul 
                  li.footer-link
                    .input-group
                      input(type="text" placeholder="Suscríbete").form-control
                      span.input-group-btn
                        button(type="button").btn.btn-default.btn-enviar-footer Enviar
                  li.footer-link
                    a(href='https://www.facebook.com/Autoshoppingchile/', target="_blank") Encuentranos
                  li.footer-link
                    a(href='https://www.facebook.com/Autoshoppingchile/', target="_blank") 
                      i.ion-social-facebook
              
        .container-fluid.footer-down
          p.disclaimer
            | El uso de este sitio web implica la aceptación de los Términos y Condiciones y de las Políticas de Privacidad de Autoshopping.cl


      script(src='js/jquery.min.js')
      script(src='js/bootstrap.min.js')
      script(src='js/owl.carousel.min.js')
      script(src='js/main.js')
      script(src='js/flowtype.js')
      script(src='js/pushy.min.js')
